.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    line-height: 21px;
    margin: 0 1rem;
}

.header__caption {
    margin: 1rem !important;
}

.content {
    overflow: hidden;
    max-height: 25rem;
    height: 100%;
}

.button--greyed {
    color: #BDBDBD;
}