.container {
    width: 100%;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 1em;
}

.header__caption {
    margin: 1em !important;
    font-size: 1.15em !important;
}

.content {
    overflow: hidden;
    max-height: 25em;
    height: 100%;
    width: 100%;
}

.button--greyed {
    color: #BDBDBD;
    position: relative !important;
}