*, .modals {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: normal;
}

.ext-container {
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0,0,0,.2);
  border-radius: .3rem;
  position: fixed;
  z-index: 100500;
  margin: 25px;
  padding: 5px 10px 5px 5px;
  box-sizing: border-box;

  display: flex;
  justify-content: space-between;
}

.ext-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ext-button > i.icon {
  font-size: 1.5em;
}

.ext-button > span {
  font-size: 0.5em;
}

.popup-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  line-height: 21px;
}

.popup-header h3.ui.header {
  margin: 1rem;
}

section {
  margin: 20px;
}

.modal[role='dialog'] {
  position: absolute;
  margin: 0 !important;
}

.ext-modal-menu-column > .ui.fluid.vertical.tabular.menu {
  background-color: #1565A4;
  height: 100%;
}

.ext-modal-menu-column > .ui.fluid.vertical.tabular.menu .item {
  color: white;
  background-color: #002F6C;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  height: 60px;
}

.ext-modal-menu-column > .ui.fluid.vertical.tabular.menu .item.disabled {
  color: #5190C2;
  background-color: #01579B;
}

.ext-modal-menu-column > .ui.fluid.vertical.tabular.menu .item.active {
  color: #333333;
  background-color: white;
}

.ui.grid>.column.ext-modal-content-column {
  min-height: 500px;;
}

.ext-modal-content-column .greyed {
  color: #BDBDBD;
}

.ext-modal-menu-button {
  width: 100%;
}

.ext-modal-menu-button > .icon {
  margin-right: 1em;
}

.ext-modal-menu-button .connection-status {
  float: right;
  margin-top: 0.2rem;
}

.ext-addresses-other-container {
  max-height: 300px;
  overflow-x: hidden;
  overflow-y: auto;
}

.no-content-container {
  display: flex;
  text-align: center;
  flex-direction: column;
  margin: 2rem auto;
  width: 60%;
}

.no-content-container .no-content-image {
  height: 152px;
  background-image: url(../src/assets/404-error.png);
  background-position: center;
  background-repeat: no-repeat;
}

.no-content-container .no-content-explanation {
  font-size: 1.3rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.ext-addresses-table.ui.grid>.row>.column.advertisment-column {
  display: flex;
  align-items: stretch;
  align-self: center;
  justify-content: space-around;
}

.ext-addresses-table .advertisment-column .coupon {
  width: 25%;
  position: relative;
  margin-right: 1rem;
  padding-right: 1rem;
}

.ext-addresses-table .advertisment-column .coupon > .sale {
  position: absolute;
  top: -0.2rem;
  right: -0.2rem;
}

.ext-addresses-table .coupon {
  background-image: url(../src/assets/coupon.png);
  background-position: center;
  background-repeat: no-repeat;
}

.ext-addresses-table .sale {
  background-image: url(../src/assets/sale.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 1rem;
  height: 1rem;
}

.ui.container.ext-popup-content {
  margin-left: -1rem !important;
  overflow: hidden;
}

.ext-bonuses-container {
  padding: 1rem;
  max-height: 400px;
  overflow-x: hidden;
  overflow-y: auto;
}

.ext-bonuses-container .segment {
  height: 100%;
}