*, .modals {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: normal;
}

.ext-container {
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0,0,0,.2);
  border-radius: .3rem;
  position: fixed;
  z-index: 100500;
  margin: 25px;
  padding: 5px 10px 5px 5px;
  box-sizing: border-box;

  display: flex;
  justify-content: space-between;
}

.ext-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ext-button > i.icon {
  font-size: 1.5em;
}

.ext-button > span {
  font-size: 0.5em;
}

.popup-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  line-height: 21px;
}

.popup-header h3.ui.header {
  margin: 1rem;
}

section {
  margin: 20px;
}

.modal[role='dialog'] {
  position: absolute;
  margin: 0 !important;
}

.ext-modal-menu-column > .ui.fluid.vertical.tabular.menu {
  background-color: #1565A4;
  height: 100%;
}

.ext-modal-menu-column > .ui.fluid.vertical.tabular.menu .item {
  color: white;
  background-color: #002F6C;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  height: 60px;
}

.ext-modal-menu-column > .ui.fluid.vertical.tabular.menu .item.disabled {
  color: #5190C2;
  background-color: #01579B;
}

.ext-modal-menu-column > .ui.fluid.vertical.tabular.menu .item.active {
  color: #333333;
  background-color: white;
}

.ui.grid>.column.ext-modal-content-column {
  min-height: 500px;;
}

.ext-modal-content-column .greyed {
  color: #BDBDBD;
}

.ext-modal-menu-button {
  width: 100%;
}

.ext-modal-menu-button > .icon {
  margin-right: 1em;
}

.ext-modal-menu-button .connection-status {
  float: right;
  margin-top: 0.2rem;
}

.ui.container.ext-popup-content {
  margin-left: -1rem !important;
  overflow: hidden;
  max-height: 25rem;
  height: 100%;
}

.ext-settings-container {
  padding: 1rem 1rem 0 1rem;
}